header {
    background-color: #20232a;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #333;
}

button{
    padding: 12px 35px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    border-top-style: double;
}

div{
    align-items: center;
    display: flex;
    cursor: pointer;
}

.whatsapp{
    padding: 10px;
    filter: brightness(100%);
    transition: 0.3s;
}
.whatsapp:hover{
    filter: brightness(60%);
}

.Facebook{
padding: 10px 25px;
filter: brightness(100%);
transition: 0.3s;
}
.Facebook:hover{
    filter: brightness(60%);
}

.Instagram{
    padding: 10px 0px;
    filter: brightness(100%);
    transition: 0.3s;
}
.Instagram:hover{
    filter: brightness(60%);
}

.tiktok{
    padding: 10px 36px;
    filter: brightness(100%);
    transition: 0.3s;
}
.tiktok:hover{
    filter: brightness(60%);
}

img{
     border-radius: 25px;
}

button a {
  text-decoration: none;
  color: #1c0f0f; 
}

@media (max-width: 600px){
div{
    flex-direction: column;
    align-items: flex-start;
    padding:20px;
}

button {
        
        width: 50%; 
        min-width: unset; 
        margin: 0;
}

button a {
     text-align: center;
}
}
